
.containerCenter{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFE1AA;
}

.empresa {
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-top: 0; 
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  background-color: #FFE1AA;
}

.header > * {
  margin-right: 10px; 
  font-size: 14px; 
}


.login{
  margin-top: -10rem;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem 1.5rem;

  h1{
    color: #1E2236;
    padding-bottom: 1rem;
  }

  form{
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  form button{
    height: 40px;
    font-size: 1.2rem;
  }

}

.text{
  margin-top: 1rem;
  color: #1E2236;;
  cursor: pointer;
}


@media (max-width: 620px) {
  .login{
    width: 90%;
  }
}